<p>

  <ul>
    <% @trips.each do |trip| %>
    <li>

      <%= link_to trip.id, trip_path(trip.id) %>
      <%= trip.driver_id %>
      <%= trip.passenger_id %>


    </li>
    <% end %>
  </ul>
</p>
