<h1>About Trip</h1>

<p>
  Trip id: <%= @trip.id  %></br>
  Driver id: <%= @trip.driver_id %></br>
  Driver name: <%= @trip.driver.name %></br>
  <!-- Passenger name: <%#= @trip.passenger.name %></br> -->
</p>
