<h1>Edit Passenger </h1>
<%= render partial: "form" %>

<%= link_to "Back to Passenger Info", passenger_path(@passenger.id), method: :get %></br>
<%= link_to "Back to Passenger List", passengers_path, method: :get %>
