<p>

  <ul>
    <% @drivers.each do |driver| %>
    <li>
      <%= driver.id %>
      <%= link_to driver.name, driver_path(driver.id) %>
      <%= driver.vin %>
    </li>
    <% end %>
  </ul>
</p>

<%= link_to "Add new Driver", new_driver_path, class: "link" %>
